.header-container {
  display: flex;
  background-color: #dbeafe;
  height: 10vh;
  align-items: center;
  padding: 10px 0px 10px 15px;
  font-family: 'Bree Serif';
}
.logo-styling {
  width: 60px;
  margin-right: 16px;
}
.heading {
  font-size: 26px;
  font-weight: 500;
}
